@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
         url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
         url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

:root {
    --main-color: rgba(91, 35, 134, 1);
    --sub-color: rgba(252, 238, 33, 1);
    --font-family: "GmarketSansMedium", sans-serif;
}

html {
    font-size: 12px;
}

body {
    text-align: center;
    font-family: var(--font-family);
    background-color: var(--main-color);
    color: white;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

header {
    position: relative;
    text-align: center;
    align-items: center;
    margin: 273px 0 125px;
}

header img {
    position: absolute;
    width: 564px;
    height: 112px;
    transform: translate(-50%, -50%);
}

header img:last-child {
    width: 261px;
    height: 265px;
    z-index: -1;
}

.content-slogn {
    margin: 46px 0 0;
}

.content-slogn h2 {
    font-size: 3rem;
    font-family: "OTEnjoystoriesBA";
    color: var(--sub-color);
}

.content-slogn p {
    font-size: 2rem;
    margin: 78px 0 0;
    font-weight: bolder;
    line-height: 28px;
    background: url("../src/quotes.png") no-repeat center;
}

.content-slogn span {
    font-size: 1.5rem;
    font-weight: lighter;
}

.content-top {
    font-size:2rem;
    margin: 102px 0 0;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.input {
    border-radius: 7px;
    border: none;
    width: 228px;
    height: 57px;
    padding: 0 12px;
    margin: 0 17px;
}

.input::placeholder {
    font-size: 2rem;
    text-align: center;
    color: rgba(186, 188, 190, 0.5);
    font-family: var(--font-family);
}

.content-banner {
    margin: 115px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 2rem;
    font-family: "GmarketSansbold";
    padding: 21px 49px;
    border-radius: 56px;
    border: none;
    color: var(--main-color);
    background-color: var(--sub-color);
}

#share {
    background-color: white;
}

.content-banner img {
    transform: translate(7px, 14px);
}

.content-sub {
    font-size: 2rem;
    margin: 147px 0;
    line-height: 60px;
}

.content-sub span {
    font-size: 6rem;
    padding: 0 12px;
}

.content-link {
    margin-top: 127px;
    display: flex;
    justify-content: center;
    gap: 18px;
}



footer {
    margin: 130px 0 73px;
    font-size: 1rem;
    font-family: "Noto Sans KR";
    line-height: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

/* 모바일 */
@media (max-width: 394px) {
    html {
        font-size: 10px;
    }

    header {
        margin: 96px 0 69px;
    }
    
    header img {
        width: 267px;
        height: 53px;
    }
    
    header img:last-child {
        width: 125px;
        height: 126px;
    }
    
    .content-slogn {
        margin: 31px 0 0;
    }
    
    .content-slogn h2 {
        font-size: 2.2rem;
    }
    
    .content-slogn p {
        font-size: 1.4rem;
        margin: 62px 0 0;
        line-height: 1.7rem;
        background-size:contain;
    }
    
    .content-slogn span {
        font-size: 1.2rem;
    }
    
    .content-top {
        font-size: 1.4rem;
        margin: 62px 0 0;
        gap: 20px;
    }
    
    .input {
        width: 180px;
        height: 45px;
        margin: 0 10px;
    }
    

}
