@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
html {
    font-size: 24px;
}

body {
    text-align: center;
    font-family: "GmarketSansMedium";
    background-color: rgba(91, 35, 134, 1);
    color: white;
}
.wrap {
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    text-align: center;
    align-items: center; 
    margin-top: 273px;
    margin-bottom: 125px;
}

header img {
    position: absolute;
    width: 564px;
    height: 112px;
    transform: translate(-50%, -50%);
}

header img:last-child{
    width: 261px;
    height: 265px;
    z-index: -1; 
}

.section-text1 {
    width: 493px;
    height: 227px;
    margin: 0 auto;
    padding-top: 46px;
}

.section-text1 h2 {
    font-size: 1.5rem;
    font-family:"OTEnjoystoriesBA";
    color: rgba(245, 223, 77, 1);
    padding-bottom: 78px;
    
}

.section-text1 p {
    font-weight: bold;
    line-height: 28px;
    background-image: 493px 96px;
    background: url("../src/quotes.png") no-repeat center;
}

.section-text1 span {
    font-size: 0.75rem;
    font-weight: lighter;
}

.section-text2 {
    margin-top:102px ;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.input {
    font-size: 1rem;
    border-radius: 7px;
    border: none;
    width: 228px;
    height: 57px;
    text-align: center;
    margin: 0px 17px;
}
.input::placeholder {
    color: rgba(186, 188, 190, 0.5);
    font-family:"GmarketSansMedium";  
}
